{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}

{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}WSU Smart Home Database{% endblock %}
<head>
{% block styles %}
        {{ super() }}
        <link rel="stylesheet" href="/static/style.css">
        <style>
        body {
                background-color:#F4EDEC;
        }
        </style>

{% endblock %}
{% block scripts %}
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
<!-- polyfiller file to detect and load polyfills -->
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
{{ super() }}
{% endblock %}
</head>
{% block body %}
        {{ super() }}
  <div class="container" style="padding-top: 40px">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topFixedNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="navbar-brand" href="/">WSU AHA!</a></div>
      <div class="collapse navbar-collapse" id="topFixedNavbar1">
        <ul class="nav navbar-nav">
          <li class="active"></li>
        </ul>
<ul class="nav navbar-nav navbar-right">
        <li><a href="mailto:aha@wsu.edu">Contact Us</a></li>
          <li><a href="/auth/register"><font color="#118811"><strong>Register</strong></font></a></li>
            <li><a href="/auth/reset"><font color="#881111"><strong>Forgot Password?</strong></font></a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
<div class="jumbotron" style="background-color:#F4EDEC;">
</div>
<div class="row" style="background-color:#F4EDEC;">

        <div id='login'>

                <h2><span class="fontawesome-lock"></span>Sign In</h2>
                    <form class="form" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">

                        <fieldset>

                        {{ login_user_form.csrf_token }} 
                        <p><label for="name">Enter Email</label></p>
                        <p>{{ render_field(login_user_form.email, placeholder="Email",                                autofocus="") }} </p>
                        <p><label for="password">Password</label></p>
                        <p>{{ render_field(login_user_form.password, placeholder="Password") }} </p>

                                <p><input type="submit" value="Sign In"></p>
        {% include "security/_menu.html" %}

                        </fieldset>

                </form>
        </div> <!-- end login -->
<script type="text/javascript">
        $(document).ready(function() {
                $('body').hide();
                $(window).load(function() {
                        $('body').show();
                });
        });
</script>
</div>
<div class="row body">
<div class="col-md-4 left-side" style="align-content: center">
</div>
<div class="col-md-4"></div>
</div>
  {% endblock %}
