<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-svg lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-svg lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-svg lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

<head>
        <meta charset="utf-8">
        <title>AHA | Washington State University</title>
        <link rel="shortcut icon" href="https://repo.wsu.edu/spine/1/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic" rel="stylesheet" type="text/css" >
        <link href="https://repo.wsu.edu/spine/1/spine.min.css" rel="stylesheet" type="text/css" />
     <link href="static/style_dash.css" rel="stylesheet" type="text/css" />
       <style>
            .ilog {
                color: #EE1122 !important;
            }
            .alog {
                color: #fff !important;
            }
        </style>
        <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
        <meta name="viewport" content="width=device-width, user-scalable=yes">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="https://repo.wsu.edu/spine/1/spine.min.js"></script>
        <!-- COMPATIBILITY -->
        <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <noscript><style>#spine .spine-sitenav ul ul li { display: block !important; }</style></noscript>
</head>
<body>
<div id="jacket">
<div id="binder" class="fluid">
<main>
<header class="main-header">
        <div class="header-group hgroup guttered padded-bottom short">
                <sup class="sup-header"><span class="sup-header-default"><a href="https://aha.wsu.edu/" rel="home">
Online Course Suite in Tools for Analysis of Sensor-Based Behavioral Health Data (AHA!)</a></span></sup>
        </div>
</header>
<section class="row single side-right gutter pad-top pad-bottom user-head noselect">
        <div class="column one">
            {% if current_user.nickname %}
             {% set name=current_user.nickname %}
            {% else %}
             {% set name=current_user.name %}
            {% endif %}
            <h4 class="welcome">Welcome {{ name }}! </h4>
            <div class="settings">
                <ul>
                    <li><a href="/user/edit">Edit user profile</a></li>
                    <li><a href="/auth/change">Change my password</a></li>
                    <li><a href="/user/scores">Scores &amp; Progress Report</a></li>
                </ul>
            </div>
        </div>
        <div class="column two ">
            <div class="user-photo">
                <img src="static/placeholder.png">
            </div>
        </div>
</section>
{% if completed %}
<section class="row single gutter course-completed noselect">
    <div class="column">
        <h4 style="color:#227722;"><b>Completed Courses</b></h4>
        <table style="width:100%; font-family:'Open Sans', sans-serif; font-size:0.9em;" class="table-course-available noselect">
            <tr>
                <th style="width:61%;"></th>
                <th>COMPLETED ON</th>
                <th style="text-align:right;">CERTIFICATE</th>
            </tr>
            {% for course in completed %}
                <tr>
                    <td class="course"><a href="/course/{{course.id}}">{{ course.name }}</a></td>
                    <td>{% if course.progress['completed_at'] %}{{course.progress['completed_at'].strftime('%m-%d-%Y')}}{% endif %}</td>
                    <td style="text-align:right;">{% if course.__dict__['cert'] %}<a href="/cert/user/{{current_user.id}}/course/{{course.id}}">VIEW CERTIFICATE</a>{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</section>
<hr class="divider" />
{% endif %}
{% if inprogress %}
<section class="row single gutter course-ongoing noselect">
    <div class="column">
        <h4><b>Courses In-Progress</b></h4>
        <table style="width:100%" class="noselect">
            <tr>
                <th style="width:70%;"></th>
                <th class="progress_header" style="width=30%">Progress</th>
            </tr>
            {% for course in inprogress %}
                <tr>
                    {% set progress = (course.progress['completed_segments']/course.children)*100.00 %}
                    <td class="course"><a href="/course/{{course.id}}">{{course.name}}</a></td>
                    <td id="progress{{loop.index}}"><div class="progress-back"><div class="progress" style="height:100;width:{{progress|string}}%; text-align:center;">{{course.progress['completed_segments']}}/{{course.children}}</div></div></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</section>
<hr class="divider" />
{% endif %}
{% if available %}
<section class="row single gutter course-available noselect">
    <div class="column">
        <h4 style="color:#222222;"><b>Available Courses</b></h4>
        <table style="width:100%" class="table-course-available noselect">
            <tr>
                <th></th>
                <th style="padding-left:0.5em;">Author</th>
            </tr>
            {% for course in available %}
                <tr>
                    <td>{% if course.locked %}<img src="/static/lock.png" width="22" height="22" style="vertical-align:middle;">&nbsp;&nbsp;{{ course.name }}{% else %}<a href="/course/{{course.id}}">{{ course.name }}</a>{% endif %}</td>
                    <td style="padding-left:0.5em;" class="author">{{ course.author }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</section>
<hr class="divider">
{% endif %}
<section class="row single gutter pad-top">
        <div class="column">
                <article class="home-contact">
               <p><a href="http://casas.wsu.edu/">CASAS</a>, PO Box 642752, Washington State University, Pullman WA 99164-2752 <br /> (509) 335-4985, <a href="mailto:cook@eecs.wsu.edu">cook@eecs.wsu.edu</a> </p>
               <p>&copy; 2017 Washington State University | <a href="http://access.wsu.edu">Accessibility</a> | <a href="http://policies.wsu.edu/">Policies</a> | <a href="http://copyright.wsu.edu/">Copyright</a> </p>
        </article>
    </div>
</section>
</main>

<div id="spine" class="spine-column shelved darker bleed">
<div id="glue" class="spine-glue">

<header class="spine-header">
        <a href="https://wsu.edu/" id="wsu-signature" class="spine-signature">Washington State University</a>
</header>

<!-- ACTIONS -->
<section id="wsu-actions" class="spine-actions">

        <!-- Tabs -->
        <ul id="wsu-actions-tabs" class="spine-actions-tabs clearfix">
                <li id="wsu-search-tab" class="spine-search-tab closed"><button>Search</button></li>
                <li id="wsu-contact-tab" class="spine-contact-tab closed"><button>Contact</button></li>
                <li id="wsu-share-tab" class="spine-share-tab closed"><button>Share</button></li>
                <li id="wsu-print-tab" class="spine-print-tab closed"><button>Print</button></li>
        </ul>

        <!-- Actions generated by spine.js end up here -->
</section><!--/#wsu-actions-->

<section id="spine-navigation" class="spine-navigation">

        <nav class="spine-sitenav">

                <ul>
                        <!--
                        NAVIGATION: Your navigation list here
                        • Active link should be denoted with an "active" or "current" link on the link's parent li element.
                        • First link should be a home link (otherwise, in exceptional cases, add "homeless" class to #site nav)
                        • Replace example navigation list below -->
                        <li><a href="/">Site Home</a></li>
                        {% if current_user.has_role('admin') %}
                        <li class="alog"><b><a href="/admin">Database Viewer</a></b></li>
                        {% endif %}
                        <li class="ilog"><b><a href="/auth/logout" class="ilog">Logout</a></b></li>
			<li><a href="/user/edit">Edit Profile</a></li>
			<li><a href="/auth/change">Change my password</a></li>
                        <li><a href="">Classes</a>
                                <ul>
                                    {% for course in available+inprogress+completed %}
                                    <li><a href="/course/{{course.id}}">{{course.name}}</a></li>
                                    {% endfor %}
                                </ul>
                        </li>
                        <li class="external"><a href="https://www.youtube.com/channel/UCnBkXlJJgngQPSMWx5uSaWQ" target="_blank">AHA Video Playlist</a></li>
                        <li><a href="/dw">Downloadable Materials</a></li>
                </ul>

        </nav>

        <nav class="spine-offsitenav">
        <ul>
                <li><a href="http://casas.wsu.edu" class="external" target="_blank">CASAS</a></li>
                <li><a href="https://www.nih.gov/" class="external" target="_blank">NIH</a></li>
        </ul>
</nav>

</section><!-- #navigation -->

<!-- Social and Global Links -->
<footer class="spine-footer">
        <nav id="wsu-social-channels" class="spine-social-channels">
                <!--
                SOCIAL CHANNELS: You can replace default social channels with your own. Available channels are:
                • Facebook, Twitter, Youtube, Google+ (.googleplus-channel), Tumblr, Pinterest, Flickr,
                • Example: <li class="pinterest-channel"><a href="http://pinterest.com/user">Pinterest</a></li>
                • Maximum number of channels is five -->
                <ul>
                        <li class="facebook-channel"><a href="https://facebook.com/wsupullman">Facebook</a></li>
                        <li class="twitter-channel"><a href="https://twitter.com/wsupullman">Twitter</a></li>
                        <li class="youtube-channel"><a href="https://www.youtube.com/washingtonstateuniv">YouTube</a></li>
                        <li class="directory-channel"><a href="http://social.wsu.edu">Directory</a></li>
                </ul>
        </nav>
        <nav id="wsu-global-links" class="spine-global-links">
                <ul>
                        <li class="mywsu-link"><a href="https://my.wsu.edu/">myWSU</a></li>
                        <li class="access-link"><a href="http://access.wsu.edu/">Access</a></li>
                        <li class="policies-link"><a href="http://policies.wsu.edu/">Policies</a></li>
                        <li class="copyright-link"><a href="http://copyright.wsu.edu">&copy;</a></li>
                </ul>
        </nav>
</footer>

</div><!--/glue-->
</div>
</div>
</div>
<div id="contact-details" itemscope itemtype="http://schema.org/Organization">
        <span itemprop="department"  content="Voiland College of Engineering and Architecture"></span>
        <span itemprop="name" content="Washington State University"></span>
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="location" content="Washington State University"></span>
                <span itemprop="streetAddress" content="PO Box 642714"></span>
                <span itemprop="addressLocality" content="Pullman"></span>
                <span itemprop="addressRegion" content="WA"></span>
                <span itemprop="postalCode" content="99164-2714"></span>
        </div>
        <span itemprop="telephone" content="(509) 335-6613"></span>
        <span itemprop="email" content="aha@wsu.edu"></span>
        <span itemprop="contactPoint" content="https://vcea.wsu.edu/directory/"></span>
        <span itemprop="url" content="http://vcea.wsu.edu"></span>
</div>
</body>
</html>


